<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuc.ssm_four.dao.interfaces.PaperMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.nuc.ssm_four.entity.Paper" >
    <id column="PID" property="pid" jdbcType="INTEGER" />
    <result column="TID" property="tid" jdbcType="INTEGER" />
    <result column="PNAME" property="pname" jdbcType="VARCHAR" />
    <result column="PTYPE" property="ptype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PID, TID, PNAME, PTYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from paper
    where PID = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from paper
    where PID = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.nuc.ssm_four.entity.Paper" >
    insert into paper (PID, TID, PNAME, 
      PTYPE)
    values (#{pid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, 
      #{ptype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.ssm_four.entity.Paper" >
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        PID,
      </if>
      <if test="tid != null" >
        TID,
      </if>
      <if test="pname != null" >
        PNAME,
      </if>
      <if test="ptype != null" >
        PTYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.ssm_four.entity.Paper" >
    update paper
    <set >
      <if test="tid != null" >
        TID = #{tid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        PNAME = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        PTYPE = #{ptype,jdbcType=VARCHAR},
      </if>
    </set>
    where PID = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.ssm_four.entity.Paper" >
    update paper
    set TID = #{tid,jdbcType=INTEGER},
      PNAME = #{pname,jdbcType=VARCHAR},
      PTYPE = #{ptype,jdbcType=VARCHAR}
    where PID = #{pid,jdbcType=INTEGER}
  </update>
</mapper>